* {
  padding: 0;
  box-sizing: border-box;
}

ul.selected-seat-text li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 450px;
  margin: 20px 0px;
}

.change_seat_click {
  background-color: #1dd100;
  color: #ffffff;
}

.change_seat_click:hover {
  background-color: #1dd100;
  color: #ffffff;
}

.model {
  background-color: rgb(30, 30, 30);
}
